body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
h1 {
    position: relative;
    bottom: 15%;
}

.coracao {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(247, 72, 72);
    transform: rotate(45deg);
    animation: batida 2s ease-in-out infinite;
}

.coracao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 72, 72);
    border-radius: 50%;
    transform: translateY(-50%);
}

.coracao::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 72, 72);
    border-radius: 50%;
    transform: translateX(-50%);
}

@keyframes batida {
    0% {
        transform: rotate(45deg) scale(1);
    }
    25% {
        transform: rotate(45deg) scale(1);
    }
    30% {
        transform: rotate(45deg) scale(1.4);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    70% {
        transform: rotate(45deg) scale(1.4);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}