
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000000;
    color: #17a1f1;
}

h1{
    position: absolute;
    top: 15vh;
}

div {
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url(./Icone-de-ligação.png);
    background-size: cover;
    background-position: center;
}

div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #17a1f1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: pulsar 2s linear 0.5s infinite;
}

div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #17a1f1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: pulsar 2s linear infinite;
}


@keyframes pulsar {
    90%{
        transform: scale(2.5);
    }
    100% {
        opacity: 0;
    }
}