body {
    margin: 0;
    padding: 0;
    background-color: rgb(56, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    width: 30vw;
    height: 15vh;
    border: 10px solid pink ;
    background-color: transparent;
    font-size: 3rem;
    font-weight: bolder;
    color: pink;
    position: relative;
    padding: 1rem;
    cursor: pointer;
    transition: .4s linear;
}

.button::before, .button::after {
    content: "";
    width: 50px;
    height: 10px;
    position: absolute;
    background-color: rgb(56, 53, 53);
    transform: skewX(120deg);
    transition: .4s linear;
}

.button::before {
    top: -10px;
    left: 10%;
}

.button::after {
    bottom: -10px;
    right: 10%;
}

.button:hover::before {
    left: 80%;
}

.button:hover::after {
    right: 80%;
}

.button:hover {
    box-shadow: 0px 0px 30px pink;
}
