body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:radial-gradient(whitesmoke, gray, black);
    font-family: monospace;
    color: rgb(255, 0, 128);
}


.square {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(29, 31, 31);
    animation: girar 3s linear infinite;
}

@keyframes girar{
 0% {
    transform:rotateX(0deg);
 }
 25%{
    transform: rotateX(90deg);
 }
 50% {
    transform:rotateY(0deg);
 }
 75% {
    transform:rotateY(90deg);
 }
 100% {
    transform:rotateY(0deg);
 }
}